.navbar-nav{
    background-color: #005B41;
    
}
body {
    background-color: #ECE3CE;
    color: #001524;
}
footer {
    background-color: #86A789;
}
.container-header, .row-content{
    padding: 20px;
}
.navbar-nav span{
    padding-left: 5px;
}
.nav-item :hover{ 
    background-color: #3A4D39;
    color: white; 
}
.container-header{
    background-color:#86A789;
}
.container-aside{
    float: right;
}
.h3-lead{
    color:#739072;
}
main {
    margin: 60px;
    border-color: #86A789;
}
